<template name="appBody">
  <div id="container" class="{{menuOpen}} {{cordova}}">
    <section id="menu">
      {{#if currentUser}}
        <div class="btns-group-vertical">
          <a href="#" class="js-user-menu btn-secondary">
            {{#if userMenuOpen}}
              <span class="icon-arrow-goesup"></span>
              {{else}}
              <span class="icon-arrow-goesdown"></span>
            {{/if}}
            {{emailLocalPartOrUserName}}
          </a>
          {{#if userMenuOpen}}
            <a class="js-logout btn-secondary">Logout</a>
          {{/if}}
        </div>
      {{else}}
        <div class="btns-group" style="margin-top:20px;">
          {{> loginButtons}}
          <!-- <a href="{{pathFor 'signin'}}" class="btn-secondary">Sign In</a>
          <a href="{{pathFor 'join'}}" class="btn-secondary">Join</a> -->

        </div>
      {{/if}}

      <div class="list-todos">
        {{#if currentUser}}
          <a class="js-new-list link-list-new"><span class="icon-plusSign"></span>New List</a>
        {{/if}}
        {{> shareModal}}
        {{> modalForm}}
        {{> editForm}}
        {{#each lists}}
          {{#if Privacy}}
            {{#if accessible}}
              <a href="{{pathFor 'listsShow'}}" class="list-todo {{activeListClass}}" title="{{name}}">
                  <span class="icon-locked"></span>
                {{#if incompleteCount}}
                  <span class="count-list">{{incompleteCount}}</span>
                {{/if}}
                {{name}}
              </a>
            {{/if}}
          {{/if}}
          {{#if accessible}}
          {{#if publicAccessible}}
            <a href="{{pathFor 'listsShow'}}" class="list-todo {{activeListClass}}" title="{{name}}">
              {{#if incompleteCount}}
                <span class="count-list">{{incompleteCount}}</span>
              {{/if}}
              {{name}}
            </a>
          {{/if}}
          {{/if}}
        {{/each}}
      </div>

    </section>

    {{#unless connected}}
      <div class="notifications">
        <div class="notification">
          <span class="icon-sync"></span>
          <div class="meta">
            <div class="title-notification">Connecting</div>
            <div class="description">Hold on!</div>
          </div>
        </div>
      </div>
    {{/unless}}

    <div class="content-overlay"></div>

    <div id="content-container">
      {{#each thisArray}}
        {{> yield}}
      {{/each}}
    </div>
  </div>

</template>
