<template name="listsShow">
  <div class="page lists-show">
    <nav class="js-title-nav">
      {{#if editing}}
        <form class="js-edit-form list-edit-form">
          <input type="text" name="name" value="{{name}}">
          <div class="nav-group right">
            <!-- <a href="#" class="js-cancel nav-todo"><span class="icon-close js-cancel" title="Cancel"></span></a> -->
          </div>
        </form>
      {{else}}
        <div class="nav-group">
          <a href="#" class="js-menu nav-todo"><span class="icon-list-unordered" title="Show menu"></span></a>
        </div>
        <h1 class="js-edit-list title-page"><span class="title-wrapper">{{name}}</span> <span class="count-list">{{incompleteCount}}</span><span class="owner">Curator: {{ownerLocalPart}}</span></h1>
        <!-- <h1><span>{{ownerLocalPart}}</span></h1> -->
        {{#if currentUser}}
        <div class="nav-group right">
          <div class="nav-todo options-mobile">
            <select class="list-edit">
              <option disabled selected>Select an action</option>
              {{#if Privacy}}
              <!--what does this do?  -->
                <option value="public">Make Public</option>
              {{else}}
                <option value="private">Make Private</option>
              {{/if}}
<!--               <option value="share">Share</option> -->
              <option value="delete">Delete</option>
            </select>
            <span class="icon-cog"></span>
          </div>

          <div class="options-web">
            {{#if isOwnerOfListCompareName}}
            <a class="addInterest" data-toggle="modal" data-target="#myModal"><span class="icon-add" title="Add!"></span></a>
            <a class="js-toggle-list-privacy">{{#if Privacy}}<span class="icon-locked" title="Make list public"></span>{{else}}<span class="icon-unlock" title="Make list private"></span>{{/if}}</a>
            <a class="js-share-list" data-toggle="modal" data-target="#shareList"><span class="icon-shared" title="Send List"></span></a>
            <a class="js-edit-this-list"><span class=" icon-edited" title="Edit List"></span></a>
            <a class="js-delete-list"><span class="icon-garb" title="Delete list"></span></a>
            {{/if}}
          </div>
        </div>
        {{/if}}
      {{/if}}
    </nav>

    <div class="content-scrollable list-todos">

      <div id="mainContent">
      {{#if todosReady}}
        {{#each todos}}
          {{> todo}}

        {{else}}
          <div class="wrapper-message">
            <div class="title-message">No articles yet</div>
            <!-- <div class="subtitle-message"></div> -->
          </div>
        {{/each}}
      {{else}}
          <div class="wrapper-message">
            <div class="title-message">Loading articles...</div>
          </div>
      {{/if}}
      <div class="toggleExpand">
        {{#if isMenuHidden}}
        <a class="expandMenu" ><span class="glyphicon glyphicon-chevron-right"></span></a>
        {{else}}
        <a class="hideMenu"><span class= "glyphicon glyphicon-chevron-left"></span></a>
        {{/if}}
      </div>
    </div>
  </div>
</div>
</template>

<!-- <template name="shareModal">
  <input type="hidden" name= "updated" value="{{updated}}" id="updated">
  {{#if sharing_list}}
  {{> sharelist}}
  {{/if}}

</template> -->
